.projects {
  padding: 50px;
  background: white;
  color: black;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.pageTitle {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
}